body {
  font-family: $base-font-family;
  font-size: 14px;
  line-height: 1.7;
  min-width: 320px;
  color: $base-text-color;
}

#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1280px;
	padding: 0 #{$grid-gutter-width / 2};
	margin: 0 auto;
}


@for $i from 1 through $grid-count {
	.col-#{$i} {
		width: 100% / $grid-count * $i;
	}
}


@each $item, $breakpoint in $breakpoints {
	@media all and (min-width: $breakpoint) {
		@for $i from 1 through $grid-count {
			.col-#{$item}-#{$i} {
				width: 100% / $grid-count * $i;
			}
		}
	}
}


@for $i from 1 through 3 {
	.btn#{$i}:hover  {
  
      background-color: rgb(random(255),random(255),random(255));  
  
	}
	.btn#{$i} {
  
      background-color: rgb(random(255),random(255),random(255));  
  
	}
}


.btn-list {
	list-style-type: none;

	li {
		margin-bottom: 20px;
	}
}

.btn1, .btn2, .btn3 {
	display: inline-block;
	vertical-align: top;
	padding: 10px 15px;
	text-decoration: none;
	color: black;

	
}

@for $i from 1 through 3 {
	.bordered#{$i} {
		border: random(4)+px solid black;
		
	}
}

//.bordered {
//	border: 2px solid black;
//}
@for $i from 1 through 3 {
.rounded#{$i} {
	border-radius: random(15)+px; 
}
}